*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
%subtitulos{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    font-family: sans-serif
}

%botones{
    background-color: #03037c;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 0 #494949;
}
%hoverboton{
    background-color: #5a85fd;
    color: #000;
}
.header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(161, 140, 209, 0.568) 0%,
     rgba(251, 194, 235, 0.568) 100%),url(../Media/Img/descktop-code.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
.menu{
    position: fixed;
    width: 100vw;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(73, 73, 73, 0.6);

    img{

    }
    .menu-principal{
        height: 100%;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        width: 40%;
        a{
            padding: 5px 12px;
            background-color: #fff;
            color: #000;
            text-decoration: none;
            border-radius: 5px;
        }

    }
    .search-head{

    }
}
.title{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    h1{
        font-size: 42px;
    }

}
}

.content{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}